################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
ProjetGestionAssistance/bin/
ProjetGestionAssistance/obj/
/ProjetGestionAssistance/ProjetGestionAssistance/bin/Release/netcoreapp1.1
/ProjetGestionAssistance/ProjetGestionAssistance/obj/Release/netcoreapp1.1
/ProjetGestionAssistance/ProjetGestionAssistance/Properties/PublishProfiles
/ProjetGestionAssistance/ProjetGestionAssistance/Images
.vscode/launch.json
.vscode/tasks.json
ProjetGestionAssistance/ProjetGestionAssistance/bin/Debug/netcoreapp1.1/ProjetGestionAssistance.dll
ProjetGestionAssistance/ProjetGestionAssistance/bin/Debug/netcoreapp1.1/ProjetGestionAssistance.pdb
