@model ProjetGestionAssistance.Models.Departement

@{
    ViewData["Title"] = "Delete";
}

<h2>Supprimer</h2>

<h3>&Ecirc;tes-vous s&ucirc;r de vouloir supprimer ce d&eacute;partement?</h3>
<div>
    <h4>Departement</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Id" />
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            <a asp-action="Index">Retour &aacute; la liste</a>
        </div>
    </form>
</div>
