@model ProjetGestionAssistance.Models.Compte

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Compte</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Courriel" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Courriel" class="form-control" />
                <span asp-validation-for="Courriel" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MotPasse" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MotPasse" class="form-control" />
                <span asp-validation-for="MotPasse" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Nom" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Prenom" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Prenom" class="form-control" />
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Telephone" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Telephone" class="form-control" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Type" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="Actif" />
                    <label asp-for="Actif"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EquipeId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="EquipeId" class="form-control" asp-items="ViewBag.EquipeId"></select>
                <span asp-validation-for="EquipeId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
