@{
    Layout = null;
}

<!-- On spécife qu'on travaille avec des objets Compte -->
@model ProjetGestionAssistance.Models.Compte

@{
    ViewData["Title"] = "Creation de compte";
}

@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!-- Comme cette page n'inclue pas le layout, il faut rajouter beaucoup de html qui est normalement inclue dans le layout -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Plugin CSS -->
    <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/sb-admin.css" rel="stylesheet">
</head>
<body class="bg-dark">

    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">
                Cr&eacute;er un compte
            </div>
            <div class="card-body">
                <!-- On spécifie que le formulaire va être utilisé avec l'action Creation -->
                <form asp-action="Creation">
                    <!-- Ignorer cette ligne, elle n'est pas en utilisation pour l'instant -->
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <!-- On spécifie pour quel attribut de l'objet le label et le input seront utilisés -->
                                <!-- Même pas besoin de type, le framework choisira le type d'input approprié -->
                                <label asp-for="Prenom">Prenom</label>
                                <input asp-for="Prenom" class="form-control" placeholder="Entrez votre pr&eacute;nom">
                                <span asp-validation-for="Prenom" class="text-danger"></span>
                            </div>
                            <div class="col-md-6">
                                <!-- On répète ça pour tous les attributs -->
                                <label asp-for="Nom">Nom</label>
                                <input asp-for="Nom" class="form-control" placeholder="Entrez votre nom">
                                <span asp-validation-for="Nom" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Courriel">Courriel</label>
                        <input asp-for="Courriel" type="email" class="form-control" placeholder="Entrez votre courriel">
                        <span asp-validation-for="Courriel" class="text-danger"></span>
                        <span asp-validation-for="Courriel" class="text-danger">@ViewData["CourrielErreur"]</span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Telephone">Telephone</label>
                        <input asp-for="Telephone" class="form-control" placeholder="Entrez votre numéro de téléphone">
                        <span asp-validation-for="Telephone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label asp-for="MotPasse">Mot de passe</label>
                                <!-- Il faut spécifier le type d'input dans certains cas -->
                                <!-- Comme MotPasse est un String, le framework aurait choisi type="text" -->
                                <!-- Il faut donc mentionné type="password" -->
                                <input asp-for="MotPasse" type="password" class="form-control">
                                <span asp-validation-for="MotPasse" class="text-danger"></span>
                            </div>
                            <!-- J'ai ignorer la confirmation de mot de passe pour l'instant -->
                            <!-- Le champ est présent, mais il ne fait rien -->
                            <div class="col-md-6">
                                <label asp-for="ConfirmationMotPasse">Confirmer le mot de passe</label>
                                <input asp-for="ConfirmationMotPasse" type="password" class="form-control">
                                <span asp-validation-for="ConfirmationMotPasse" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Département</label>
                        <select name="DepartementId" id="DepartementId" onchange="changerEquipeParDepartement2()" class="form-control" asp-items="ViewBag.DepartementID"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="EquipeId">Equipe</label>
                        <!-- C'est ici qu'on utilise la liste des id d'équipe qu'on a préparé dans les controlleurs -->
                        <select asp-for="EquipeId" class="form-control" asp-items="ViewBag.EquipeId"></select>
                    </div>
                    <!-- On termine le formulaire avec un submit -->
                    <!-- La méthode POST sera utilisé pour envoyer les valeurs à l'action Creation dans CompteController -->
                    <input type="submit" value="Cr&eacute;er le compte" class="btn btn-primary btn-block">
                </form>
                <div class="text-center">
                    <a class="d-block small mt-3" href="Login">Page de connection</a>
                    <a class="d-block small" href="forgot-password.html">J'ai oubli&eacute; mon mot de passe</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/popper/popper.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/vendor/chart.js/Chart.min.js"></script>
    <script src="/vendor/datatables/jquery.dataTables.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for this template -->
    <script src="/js/sb-admin.min.js"></script>
<script  src="~/js/script.js"></script>
    <script>
        $(document).ready(function() {
            changerEquipeParDepartement2();
        });
    </script>
</body>
</html>