@{
    Layout = "";
}
@model ProjetGestionAssistance.Models.Compte
@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Bienvenue</title>
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Plugin CSS -->
    <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/sb-admin.css" rel="stylesheet">
</head>
<body class="bg-dark">

    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">
                Se connecter
            </div>
            <div class="card-body">
                <form asp-action="Connection">
                    <!-- Affichage du message d'erreur en lien avec la méthode connection du controleur compte-->
                    <span  class="text-danger">@ViewData["MessageErreurConnection"]</span>
                    <div class="form-group">
                        <label asp-for="Courriel">Courriel</label>
                        <input asp-for="Courriel" type="email" class="form-control"  placeholder="Courriel">
                        
                    </div>
                    <div class="form-group">
                        <label asp-for="MotPasse">Mot de passe</label>
                        <input asp-for="MotPasse" type="password" class="form-control" placeholder="Mot de passe">
                    </div>
                    <!-- Amène vers l'action Connection dans le controlleur CompteController -->
                    <input type="submit" class="btn btn-primary btn-block" value="Connection"/>
                </form>
                <div class="text-center">
                    <a class="d-block small mt-3" href="AffichageCreation">Cr&eacute;er un compte</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/popper/popper.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/vendor/chart.js/Chart.min.js"></script>
    <script src="/vendor/datatables/jquery.dataTables.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for this template -->
    <script src="/js/sb-admin.min.js"></script>
</body>
</html>
