@model ProjetGestionAssistance.Models.Equipe

@{
    ViewData["Title"] = "Delete";
}

<h2>Supprimer</h2>

<h3>Êtes vous sûr de vouloir supprimer cette équipe?</h3>
<div>
    <h4>Equipe</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Id" />
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Departement)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Departement.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            <a asp-action="Index">Retour à la liste</a>
        </div>
    </form>
</div>
