@{
    ViewData["Title"] = "Home Page";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Accueil</a>
    </li>
    <li class="breadcrumb-item active">Bienvenue</li>
</ol>

<div class="container">
    <h1>Bienvenue !</h1>
</div>
